/* You could change the font */
/* $baseFontFamily: Oxygen;
@import url(http://fonts.gogleapis.com/css?family=Oxygen);*/

@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.footer {

	margin-top: 50px;
	color: $grayLight;
	a {

		color: $gray;
	}
}